.App {
  text-align: center;
  background: #F78FFA;
}

.App-header {
  background: linear-gradient(0deg, rgba(247, 144, 250, 1) 0%, rgba(233, 47, 238, 1) 30%, #507ae5 70%, rgba(149, 155, 230, 1) 100%);
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 360px;
}

.villa {
  width: 426px;
  height: 255px;
  border-radius: 5px;
}

.interface {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  min-height: 650px;
}

.boxButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px 15px;
  background: #f8f9f4;
}


.timer {
  font-size: 18px;
  border-radius: 50%;
  padding: 60px 15px;
  color: #EC40F0;
  font-weight: 700;
  font-family: serif;
  text-transform: uppercase;
  background: #f8f9f4;
  position: absolute;
  left: 60px;
  top:30px;
}

.tries {
  font-size: 22px;
  color:#0048ff;
  font-weight: 700;
}

input{
  background: #e5f0f7;
  font-size: 20px;
  padding: 10px;
  color: #101C5A;
  border-radius: 5px;
  border: none
}

button{
  margin-top: 30px;
  background: #EC40F0;
  font-size: 20px;
  color: #f8f9f4;
  border-radius: 4px;
  padding: 15px 25px;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
}

.select.inactive{
  display: none;
}

.select.active {
  display: block;
}

.button.inactive {
  display: none;
}

.button.active {
  display: block;
}